version: 2.1
orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  build:
    jobs:
      - architect/push-to-app-catalog:
          context: architect
          name: push-to-app-catalog
          app_catalog: default-catalog
          app_catalog_test: default-test-catalog
          chart: "priority-classes"
          executor: "app-build-suite"
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
